@font-face {
    font-family: "Hermes-Bold";
    src: url(./HermesBold.ttf) format("truetype");
}

@font-face {
    font-family: "Hermes";
    src: url(./HermesRegular.ttf) format("truetype");
}

body {
  padding-top: 50px;
  font-family: "Hermes";
}
.starter-template {
  text-align: center;
}

h1, h3 {
  font-family: "Hermes-Bold";
}

a.navbar-brand {
  color: #DC2C5F !important;
}

img.logo-left {
  width: 100%;
}

img.made-in-france {
  height: 150px;
  display: block;
  margin: auto;
  max-width: 100%
}

.first-row {
  margin-top: 10px;
}

.gallery-pic img {
  width: 100%;
}

.bigger-address {
  padding: 15px 15px 0 15px;
  font-size: larger;
}

.bigger-address h4 {
  font-size: larger;
}

p.main-text {
  text-align: justify;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p.main-text + p.lead {
  margin-top: 22px;
}

p.margin-top {
  margin-top: 50px;
}

.picture-row {
  margin: 10px 0px;
}
